.main-frame {
  .main-intro {
    .main__overlap-group {
      position: relative;
    }

    .main__background {
      width: 100%;
    }

    .main__background img {
      width: 100%;
      height: auto;
    }

    .main__text-wrapper {
      color: #ffffff;
      font-family: "Raleway";
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1;
      letter-spacing: -0.14px;
      white-space: nowrap;
    }

    .main__div {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 24px;
      position: absolute;
      bottom: 84px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }

    .main__p {
      align-self: stretch;
      color: #ffffff;
      font-family: "Pretendard Variable";
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -0.36px;
      line-height: 27px;
      margin-top: -1px;
      position: relative;
      text-align: center;
      white-space: pre-line;
    }

    .main__btn {
      all: unset;
      align-items: center;
      background-color: #121212;
      border-radius: 2px;
      box-sizing: border-box;
      display: inline-flex;
      flex: 0 0 auto;
      gap: 10px;
      justify-content: center;
      padding: 12px 18px;
      position: relative;
    }

    .text-wrapper-2 {
      color: #ffffff;
      font-family: "Raleway-Regular", Helvetica;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.14px;
      line-height: 14px;
      margin-top: -1px;
      position: relative;
      text-align: center;
      white-space: nowrap;
      width: fit-content;
    }

    .swiper-pagination-bullet {
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 3px;
      height: 6px;
      position: relative;
      width: 6px;
    }
    .swiper-pagination-bullet-active {
      background: #ffffff !important;
      border-radius: 3px;
      height: 6px;
      position: relative;
      width: 6px;
    }
  }
}
